

h1 {
color: white;
font-size: 40px;
font-family: serif;
font-weight: 200;
}

body {
  background-color: black;
  color:white;
}

h2 {
color: white;
font-size: 20px;
font-family: serif;
}
h3 {
color: white;
font-size: 20px;
font-family: serif;
}
